<div class="control-panel">
    <div class="control-group">
        <label>Portfolio</label>
        <select name="portfolio_id" id="portfolioSelect">
            <option value="20" {% if 20 == selected_portfolio_id %}selected{% endif %}>
                2026 - 20 Stocks
            </option>
            <option value="10" {% if 10 == selected_portfolio_id %}selected{% endif %}>
                2026 - 10 Stocks
            </option>
        </select>
    </div>

    <div class="control-group">
        <label>Strategy</label>
        <select name="mode" id="modeSelect">
            <option value="fixed_shares" {% if mode == 'fixed_shares' %}selected{% endif %}>Fixed Shares (Buy & Hold)</option>
            <option value="equal_weights" {% if mode == 'equal_weights' %}selected{% endif %}>Equal Weights (Daily Rebalancing)</option>
        </select>
    </div>

    <div class="control-group">
        <label>Initial Investment</label>
        <input type="number" name="initial_cash" id="initialCash" value="{{ initial_cash }}" step="1000" min="1000" max="1000000">
    </div>

    <div class="cta-group">
        <button id="updateBtn" class="btn">Refresh View</button>

        {% if not report %}
        <a href="?store_portfolio=true&year=2026" class="btn btn-success">Store 2026 Portfolio</a>
        {% endif %}
    </div>
</div>
